//
// Buttons
// --------------------------------------------------
.btn {
    border: none;
    border-radius:6px;
    background: $primary-cyan;
    color: $primary-cream;
    text-align: center;
    padding: 20px 85px;
    transition: 0.3s ease-in-out;
    font-family: 'Fraunces';
    font-size: 18px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    text-decoration:none;
    vertical-align: middle;
    touch-action: manipulation;
    background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
    white-space: nowrap;
    transform-origin: bottom;
    &:hover,
    &:focus,
    &.focus {
        background:$secondary-cyan;
    }
    &.disabled,
    &[disabled],
    fieldset[disabled] & {
        cursor: no-drop;
        background: $secondary-grey;
    }
    &.no-shadow {
        box-shadow: none;
        &:hover,
        &:focus,
        &.focus {
            opacity: 0.8;
            box-shadow: none;
            transform: none;
        }
    }
}

a.btn {
    &.disabled,
    fieldset[disabled] & {
        pointer-events: none; // Future-proof disabling of clicks on `<a>` elements
    }
}

// Alternate buttons
// --------------------------------------------------.

// Block button
// --------------------------------------------------
.btn-block {
    display: block;
    width: 100%;
}

// Vertically space out multiple block buttons
.btn-block+.btn-block {
    margin-top: 0.5rem;
}

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
    &.btn-block {
        width: 100%;
    }
}