.internal-banner {
    max-width:1280px;
    margin:0 auto;
    padding:105px 85px;
    border-radius: 10px;

    &--about {
        background:url(../images/about/desktop/image-hero-whitecup.jpg) no-repeat;
    }

    &--create {
        background:url(../images/plan/desktop/image-hero-blackcup.jpg) no-repeat;;
    }

    &__copy {
        
    }

    &__heading {
        font-size:40px;
        color:$primary-cream;
        line-height:48px;
        margin-bottom:25px;
    }

    &__paragraph {
        font-size:16px;
        font-weight:100;
        line-height:26px;
        color:$primary-cream;
        max-width:45ch;
        margin-bottom:60px;
    }
}

.internal-content {
    max-width:1280px;
    margin:0 auto;
}

.commitment {
    padding-top:165px;
    max-width:1110px;
    margin:0 auto 255px;

    &__container {
        display:flex;
        align-items:center;
        gap:125px;
    }

    &__img {
        border-radius:8px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        h3 {
            color:$primary-blue;
            font-size:40px;
            line-height:48px;
            margin-bottom:35px;
        }

        p {
            color:$primary-blue;
            font-size:16px;
            line-height:26px;
            opacity:0.8;
            font-weight:100;
        }

    }
}

.quality {
    background:$primary-blue;
    border-radius:8px;
    padding-bottom:90px;
    margin-bottom:165px;

    &__container {
        display:flex;
        align-items:center;
        gap:125px;
        max-width:1110px;
        margin:0 auto;
    }

    &__img {
        border-radius:8px;
        margin-top:-90px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        h3 {
            color:$primary-cream;
            font-size:40px;
            line-height:48px;
            margin-bottom:35px;
        }

        p {
            color:$primary-cream;
            font-size:16px;
            line-height:26px;
            opacity:0.8;
            font-weight:100;
        }

    }
}

.hq {

    .heading--lightSm {
        font-size:24px;
        line-height:32px;
        color:$primary-grey;
        margin-bottom:75px;
        margin-left:75px;
    }

    &__container {
        display: flex;
        padding-left:85px;
    }

    &__item {
        position:relative;
        flex: 1 auto;

        &--img {
            margin-bottom:45px;
        }

        &--heading {
            color:$primary-blue;
            font-size:32px;
            line-height:36px;
            margin-bottom:25px;
        }

        &--p {
            color:$primary-blue;
            font-size:16px;
            font-weight:100;
            line-height: 26px;
        }


    }

    &__btn {
        margin-top:65px;
        margin-left:85px;
    }

    &__item:last-of-type {
        border:none;
    }
}

.how {
    padding-top:350px;

    &--internal {
        background:$primary-blue;
        padding-top:0;
        margin-top:165px;

        &__item {
            border-top:2px solid $primary-orange;
            position:relative;
            padding-top:75px;
            flex: 1 auto;
    
            &::before {
                background:none;
            }
    
            &--heading {
                color:$primary-cream;
                font-size:32px;
                line-height:36px;
                max-width:10ch;
                margin-bottom:45px;
            }
    
            &--p {
                color:$primary-cream;
            }
        }
    }

    .heading--lightSm {
        font-size:24px;
        line-height:32px;
        color:$primary-grey;
        margin-bottom:75px;
        margin-left:85px;
    }

    &__container {
        display: flex;
        padding-left:85px;
    }

    &__item {
        border-top:2px solid $primary-orange;
        position:relative;
        padding-top:75px;
        flex: 1 auto;

        &::before {
            content:'';
            height:31px;
            width:31px;
            border:2px solid $primary-cyan;
            border-radius:50%;
            display: block;
            position: absolute;
            top:-20px;
            background:$primary-cream;
        }

        &--num {
            font-family:'Fraunces', serif;
            color:$primary-orange;
            font-size:72px;
            line-height:72px;
            font-weight:700;
            margin-bottom:40px;
        }

        &--heading {
            color:$primary-blue;
            font-size:32px;
            line-height:36px;
            max-width:10ch;
            margin-bottom:45px;
        }

        &--p {
            color:$primary-blue;
            font-size:16px;
            line-height: 26px;
            max-width:31ch;
        }
    }

    &__btn {
        margin-top:65px;
        margin-left:85px;
    }

    &__item:last-of-type {
        border:none;
    }
}

.how--internal {
        background:$primary-dark;
        padding-top:100px;
        padding-bottom:100px;
        margin-top:165px;

    .heading--lightSm {
        font-size:24px;
        font-weight:900;
        line-height:32px;
        color:$primary-grey;
        margin-bottom:75px;
        margin-left:85px;
    }

    &__container {
        display: flex;
        padding-left:85px;
    }

    &__item {
        border-top:2px solid $primary-orange;
        position:relative;
        padding-top:75px;
        flex: 1 auto;

        &::before {
            content:'';
            height:31px;
            width:31px;
            border:2px solid $primary-cyan;
            border-radius:50%;
            display: block;
            position: absolute;
            top:-20px;
        }

        &:first-of-type::before {
            background:linear-gradient(to right, $primary-blue 0%, $primary-blue 30%, transparent 31%, transparent 100%);
        }

        &--num {
            font-family:'Fraunces', serif;
            color:$primary-orange;
            font-size:72px;
            line-height:72px;
            font-weight:700;
            margin-bottom:40px;
        }

        &--heading {
            color:$primary-cream;
            font-size:32px;
            line-height:36px;
            max-width:10ch;
            margin-bottom:45px;
        }

        &--p {
            color:$primary-cream;
            font-size:16px;
            line-height: 26px;
            max-width:31ch;
            font-weight:100;
        }
    }

    &__btn {
        margin-top:65px;
        margin-left:85px;
    }

    &__item:last-of-type {
        border:none;
    }
}